*   {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Verdana, Sans-serif;
}
body {
  background-color: lightgray;
  padding: 10px;
}

.header {

}

p  {
 margin-top: 5px;
 margin-bottom: 5px;
}

#GameBtn    {
    background: #22c74e;
    font-weight: bold;
    padding: 7px 10px 7px 10px;
    border-style: none;
    border-radius: 10px;

}